body {
font-family: Helvetica;
}
@media all and ( min-width: 480px ){
  .grid {
    /*border: solid 1px #e7e7e7;*/
    background-color: rgba(254, 233, 000, 0.5);
  }
}

.grid__row {
  display: flex;
}

.grid__item {
  flex: 1;
  padding: 12px;
  border: solid 1px black;
  margin: 10px;
}
.num-1{
  width: 550px;
  height: 500px;
}
.num-2{
  width: 300px;
  height: 300px;
}
.num-3{
  width: 500px;
  height: 500px;
  margin-top: 360px;
  margin-left: -310px;
}
.num-4{
  width: 400px;
  height: 350px;
}
.num-5{
  width: 500px;
  height: 450px;
}
