@media only screen and (max-width: 1440px){
  body {
  font-family: 'Helvetica', sans-serif;
  padding: 20px;

  }
  h1{
    font-size: 51px;
    font-weight: normal;
    text-align: left;
    background-color: rgba(200, 213, 221, 0.5);
    overflow: visible;
    height:200px;
    width: 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    border-radius: 200px 200px 200px 200px;
    align-content: center;
  }
  .module-stories{
    background-color: rgba(254, 233, 000,0.5);
    width: 160px;
    height: 100px;
    -webkit-transform: skew(30deg);
   -moz-transform: skewY(30deg);
   -o-transform: skewY(30deg);
   transform: skewY(30deg);
  }
  .ad img{
    float: right;
    width: 300px;
    height: 250px;
    /*margin: 20px;*/
  }
  .module-stories .number-1{
    float: left;
    width: 350px;
    height: 350px;
    border: 1px solid black;
    background-image: url("images/kee-peele.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.65;
    margin-top: 180px;
    margin-left: 50px;
  }
  .module-stories .number-2{
    float: left;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-right: 190px;
    margin-left: 15px;
  }
  .module-stories .number-3{
    float: right;
    width: 400px;
    height: 350px;
    border: 1px solid black;
    margin-top: 15px;
    margin-right: 149.5px;
    margin-left: 15px;
  }
  .module-stories .number-4{
    margin-top: 15px;
    margin-right: 1px;
    margin-left: 120px;
    float: right;
    width: 200px;
    height: 200px;
    border: 1px solid black;
  }
  .module-stories .number-5{
    float: right;
    width: 350px;
    height: 350px;
    border: 1px solid black;
    margin-right: 565px;
    margin-top: 1px;
  }
  .info{
    font-size: 44px;
    font-weight: bold;
  }
  .number{
    font-size: 30px;
    font-weight: lighter;
  }
  .number-1, .number-4, .number-5 .number{
    margin-top: 0px;
    float: right;
  }

}
